<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:supportsRtl="true"
        android:theme="@style/Theme.VIRE">

        <!-- Signup/Login/Profile/Home Activities -->
        <activity android:name=".SignupActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MessagesActivity" />
        <activity android:name=".BuySellActivity" />
        <activity android:name=".ChallengesActivity" />
        <activity android:name=".QuestActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".TournamentsActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".DrawerActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".CreatePostActivity" />


        <!-- Launcher Activity -->
        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
